@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./normalize.scss";

@font-face {
    font-family: Exo2;
    src: url(fonts/Exo2-Regular.ttf);
}

@font-face {
    font-family: Rubik;
    src: url(fonts/Rubik-Regular.ttf);
}

@layer components {
.primary {
    @apply font-rubik font-normal text-xl
 }

 .primary-bold {
    @apply font-rubik font-semibold text-[22px]
 }

 .additional {
    @apply font-rubik font-normal text-base
 }

 .h6 {
    @apply font-rubik font-light text-2xl
 }
}


$backgroundImageColored: "data:image/svg+xml;utf8,<svg width='24' height='24' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'><path d='M12 2L14.2451 8.90983H21.5106L15.6327 13.1803L17.8779 20.0902L12 15.8197L6.12215 20.0902L8.36729 13.1803L2.48944 8.90983H9.75486L12 2Z' fill='%23FFD805' /></svg>";
$backgroundImageEmpty: "data:image/svg+xml;utf8,<svg width='24' height='24' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'><path d='M12 2L14.2451 8.90983H21.5106L15.6327 13.1803L17.8779 20.0902L12 15.8197L6.12215 20.0902L8.36729 13.1803L2.48944 8.90983H9.75486L12 2Z' fill='%23A3A3A3' /></svg>";

.rating {
  $star-size: var(--star-size);
  $stars-gap: var(--stars-gap);
  $section: calc($star-size + $stars-gap);
  $bg-shift: calc($stars-gap / -2);
  display: block;
  position: relative;
  width: calc(#{$section} * var(--max) - #{$stars-gap});
  height: $star-size;
  background-size: $section $star-size;
  background-repeat: repeat-x;
  background-position: $bg-shift 0;
  border-radius: 0;
  background-image: url($backgroundImageEmpty);

  /* The bar in Firefox */
  &:-moz-meter-optimum::-moz-meter-bar {
    background-size: $section $star-size;
    background-repeat: repeat-x;
    background-position: $bg-shift 0;
    background-image: url($backgroundImageColored);

    opacity: 0.8;

    &:hover {
      transition: opacity 0.1s;
      opacity: 1 !important;
    }
  }

  /* The gray background in Webkit browsers */
  &::-webkit-meter-bar {
    background: transparent;
    border-radius: 0;
    border: 0;
    height: 24px;
  }

  /* The bar in Webkit browsers */
  &::-webkit-meter-optimum-value {
    background-color: transparent;
    height: 100%;
    background-size: $section $star-size;
    background-repeat: repeat-x;
    background-position: $bg-shift 0;
    background-image: url($backgroundImageColored);

    opacity: 0.8;

    &:hover {
      transition: opacity 0.1s;
      opacity: 1 !important;
    }
  }
}